@model IEnumerable<Greenhouse_Data_MVC.Dtos.PlantHumidityRecordDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordPct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordPct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
