@model Greenhouse_Data_MVC.ViewModel.WateringViewModel;
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Watering</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watering.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watering.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watering.HumPctBefore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watering.HumPctBefore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watering.HumPctAfter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watering.HumPctAfter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watering.WaterQuantityMl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watering.WaterQuantityMl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watering.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watering.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <h4>Plant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.MomId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.MomId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Watering.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
