@model Greenhouse_Ressource_MVC.ViewModel.PlantDetailViewModel;


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plant.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plant.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plant.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plant.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <h4>Specimen</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specimen.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specimen.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specimen.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specimen.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specimen.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specimen.CreatedAt)
        </dd>
    </dl>
</div>

<div>
    <h4>Zone</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zone.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zone.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zone.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zone.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zone.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zone.CreatedAt)
        </dd>
    </dl>
</div>

@if (Model.MomPlant != null)
{
    <div>
        <h4>Plante mère</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MomPlant.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MomPlant.Id)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MomPlant.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MomPlant.Description)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MomPlant.IsActive)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MomPlant.IsActive)
            </dd>
        </dl>
    </div>
}

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Plant.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
