@model Greenhouse_Data_MVC.ViewModel.ZoneRecordViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Zone Record</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZoneRecord.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZoneRecord.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZoneRecord.Record)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZoneRecord.Record)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZoneRecord.InRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZoneRecord.InRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZoneRecord.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZoneRecord.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZoneRecord.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZoneRecord.CreatedAt)
        </dd>
    </dl>
</div>

<div>
  <h4>Zone</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zone.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zone.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zone.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zone.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zone.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zone.CreatedAt)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
