@model Greenhouse_Data_MVC.ViewModel.ZonePressureRecordViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Zone Pressure Record</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZonePressureRecord.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZonePressureRecord.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZonePressureRecord.RecordedHPa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZonePressureRecord.RecordedHPa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZonePressureRecord.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZonePressureRecord.CreatedAt)
        </dd>
    </dl>
</div>

<div>
  <h4>Zone</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zone.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zone.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zone.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zone.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zone.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zone.CreatedAt)
        </dd>
    </dl>
</div>

<div>
    <h4>Sensor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sensor.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sensor.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sensor.SensorCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sensor.SensorCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sensor.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sensor.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sensor.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sensor.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sensor.LastSeen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sensor.LastSeen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sensor.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sensor.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sensor.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sensor.CreatedAt)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
