@model Greenhouse_Data_MVC.ViewModel.PlantSensorAlertViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plant Sensor Alert</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantSensorAlert.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantSensorAlert.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantSensorAlert.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantSensorAlert.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantSensorAlert.SensorType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantSensorAlert.SensorType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantSensorAlert.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantSensorAlert.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <h4>Plant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.MomId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.MomId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plant.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plant.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
